/* Estilo básico da modal */
.modal {
    position: fixed;
    width: 200px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    z-index: 1000;
    opacity: 0.9;
}

/* Posição nos quatro cantos da tela */
//   .top-left {
//     top: 10px;
//     left: 10px;
//   }

.bottom-left {
    left: 10px;
}

.bottom-top {
    top: 10px;
}

.bottom-right {
    right: 10px;
}

//   .top-right {
//     top: 10px;
//     right: 10px;
//   }
.bottom-bottom {
    bottom: 10px;
}

//   .bottom-left {
//     bottom: 10px;
//     left: 10px;
//   }
.bottom-bottom {
    bottom: 10px;
}

//   .bottom-right {
//     bottom: 10px;
//     right: 10px;
//   }